<h1>Recipe Index</h1>
<p>If this is fucking up, it can be found in /views/recipes/index.html.erb</p>

<% @recipes.each do |recipe| %>

    <%= image_tag recipe.image, :class => 'img-fluid thumb' if recipe.image.present? %>
    <h3>Recipe: <%= link_to recipe.title, recipe %></h3>
<% end %>