<div class="container">
<h1>Riley and Phoebe's RecipeBook</h1>

<%= "Hello #{ @current_user.name }, what would you like to cook today?" %>
<div>
<h3> Select by Drop Downs</h3>
</div>

<div>
<h3>Select a little more randomly</h3>
</div>


</div>